.Web_OnlineTools_Logo{

		background-color:#e5e5e5;
		margin-bottom:20px;

}
.Web_OnlineTools_Logo h1{

		border:0px;margin:0px;padding:0px;

		text-align:center;

		text-indent:21px;

		font-size:80px;

		line-height:76px;

		font-family:Trebuchet MS;

		color:#000000;

		font-weight:bold;

		text-shadow:-2px 2px 10px #000000; 


}

.Web_OnlineTools_Logo h2{		

		border:0px;margin:0px;padding:0px;

		text-align:center;

		text-indent:29px;

		font-size:26px;

		line-height:61px;

		font-family:Trebuchet MS;

		color:#000000;

		font-weight:normal;

		text-shadow:0px 0px 0px #000000; 


}

#Logout{
	
	padding-left:25px;
	padding-top:2px;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.8) 0 0 10px;
	font-family:Trebuchet MS;

}

#Logout:hover{
	background-color:#66FF33;
	cursor: pointer;
	cursor: hand;
}

#Return:hover{
	background-color:#66FF33;
	cursor: pointer;
	cursor: hand;
}

#Return{

	padding-left:23px;
	padding-top:2px;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.8) 0 0 10px;
	font-family:Trebuchet MS;

}
